<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <connectionStrings>
    <add name="SQL2008" connectionString="Data Source=vish-laptop\sqlexpress2008;Initial Catalog=VishDB;Integrated Security=True;Connection Timeout=180;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <log4net>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="SQL2008Import.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>

    <appender name="Console" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="Console" />
    </root>

  </log4net>

</configuration>