<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <components>

      <component id="AoPoint" lifestyle="transient"
                 service="GIS.Framework.Ao.Layers.AoFCLayer, GIS.Framework.Ao"
                 type="GIS.Framework.Ao.Layers.AoPointFCLayer, GIS.Framework.Ao" />
      <component id="AoMultiPoint" lifestyle="transient"
                 service="GIS.Framework.Ao.Layers.AoFCLayer, GIS.Framework.Ao"
                 type="GIS.Framework.Ao.Layers.AoMultiPointFCLayer, GIS.Framework.Ao" />
      <component id="AoMultiPolygon" lifestyle="transient"
                 service="GIS.Framework.Ao.Layers.AoFCLayer, GIS.Framework.Ao"
                 type="GIS.Framework.Ao.Layers.AoPolygonFCLayer, GIS.Framework.Ao" />
      <component id="AoMultiLineString" lifestyle="transient"
                 service="GIS.Framework.Ao.Layers.AoFCLayer, GIS.Framework.Ao"
                 type="GIS.Framework.Ao.Layers.AoPolylineFCLayer, GIS.Framework.Ao" />

      <component id="Sql2008GeogPoint" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeography.Layers.SQL2008GeogTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeography.Layers.PointLayer, GIS.Framework.SQL2008" />
      <component id="Sql2008GeogMultiPoint" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeography.Layers.SQL2008GeogTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeography.Layers.MultiPointLayer, GIS.Framework.SQL2008" />
      <component id="Sql2008GeogMultiPolygon" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeography.Layers.SQL2008GeogTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeography.Layers.MultiPolygonLayer, GIS.Framework.SQL2008" />
      <component id="Sql2008GeogMultiLineString" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeography.Layers.SQL2008GeogTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeography.Layers.MultiLineStringLayer, GIS.Framework.SQL2008" />

      <component id="Sql2008GeomPoint" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeometry.Layers.SQL2008GeomTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeometry.Layers.PointLayer, GIS.Framework.SQL2008" />
      <component id="Sql2008GeomMultiPoint" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeometry.Layers.SQL2008GeomTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeometry.Layers.MultiPointLayer, GIS.Framework.SQL2008" />
      <component id="Sql2008GeomMultiPolygon" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeometry.Layers.SQL2008GeomTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeometry.Layers.MultiPolygonLayer, GIS.Framework.SQL2008" />
      <component id="Sql2008GeomMultiLineString" lifestyle="transient"
                 service="GIS.Framework.SQL2008.SQLGeometry.Layers.SQL2008GeomTableLayer, GIS.Framework.SQL2008"
                 type="GIS.Framework.SQL2008.SQLGeometry.Layers.MultiLineStringLayer, GIS.Framework.SQL2008" />

    </components>

</configuration>